helix/.config/helix/runtime
lazygit/.config/lazygit/state.yml
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.grc-rs.zsh
zsh/.config/zsh/secrets.zsh
aerc/.config/aerc/accounts.conf
tmux/.config/tmux/plugins
*.log
nvim/.config/nvim/lazy-lock.json
.dotfiles
.config/gh/**

.git-for-windows-updater
.gitconfig-bkp
.vscode/
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Proton Drive/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
